USE [master]
GO
/****** Object:  Database [DBMissingPiece]    Script Date: 21/06/2020 21:40:46 ******/
CREATE DATABASE [DBMissingPiece]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DBMissingPiece', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\DBMissingPiece.mdf' , SIZE = 11328KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'DBMissingPiece_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\DBMissingPiece_log.ldf' , SIZE = 2624KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DBMissingPiece].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DBMissingPiece]
GO
/****** Object:  Table [dbo].[Account]    Script Date: 21/06/2020 21:40:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Account](
	[Username] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](100) NULL,
	[FullName] [nvarchar](100) NULL,
	[Position] [nvarchar](150) NULL,
	[Status] [bit] NULL,
 CONSTRAINT [PK__Account__536C85E57F60ED59] PRIMARY KEY CLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Article]    Script Date: 21/06/2020 21:40:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Article](
	[ArticleID] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](100) NULL,
	[Description] [nvarchar](300) NULL,
	[Avatar] [nvarchar](255) NULL,
	[Thumb] [nvarchar](255) NULL,
	[Content] [ntext] NULL,
	[Keyword] [nvarchar](255) NULL,
	[Status] [int] NULL,
	[Position] [int] NULL,
	[ViewTime] [int] NULL,
	[CreateTime] [datetime] NULL,
	[ModifyTime] [datetime] NULL,
	[CreateBy] [nvarchar](50) NULL,
	[ModifyBy] [nvarchar](50) NULL,
	[SeoUrl] [nvarchar](250) NULL,
	[MetaTitle] [nvarchar](250) NULL,
	[MetaDescription] [nvarchar](550) NULL,
PRIMARY KEY CLUSTERED 
(
	[ArticleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Branch]    Script Date: 21/06/2020 21:40:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Branch](
	[BranchID] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](250) NULL,
	[Address] [nvarchar](250) NULL,
	[Mobi] [nvarchar](250) NULL,
	[Map] [nvarchar](2500) NULL,
	[Status] [bit] NULL,
 CONSTRAINT [PK_Branch] PRIMARY KEY CLUSTERED 
(
	[BranchID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Contact]    Script Date: 21/06/2020 21:40:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Contact](
	[ContactID] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](50) NULL,
	[Email] [nvarchar](255) NULL,
	[Content] [nvarchar](2000) NULL,
	[Status] [int] NULL,
	[SendTime] [datetime] NULL,
	[ApproveTime] [datetime] NULL,
	[ApproveBy] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ContactID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Introduce]    Script Date: 21/06/2020 21:40:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Introduce](
	[IntroduceID] [int] IDENTITY(1,1) NOT NULL,
	[Avatar] [nvarchar](255) NULL,
	[Thumb] [nvarchar](255) NULL,
	[Title] [nvarchar](100) NULL,
	[Description] [nvarchar](300) NULL,
	[Content] [ntext] NULL,
	[Status] [int] NULL,
	[Position] [int] NULL,
	[CreateTime] [datetime] NULL,
	[ModifyTime] [datetime] NULL,
	[CreateBy] [nvarchar](50) NULL,
	[ModifyBy] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[IntroduceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Order]    Script Date: 21/06/2020 21:40:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order](
	[OrderID] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](250) NULL,
	[Address] [nvarchar](250) NULL,
	[Mobi] [nvarchar](250) NULL,
	[Email] [nvarchar](250) NULL,
	[Status] [bit] NULL,
	[Content] [nvarchar](2500) NULL,
	[ProductName] [nvarchar](250) NULL,
	[SendTime] [datetime] NULL,
 CONSTRAINT [PK_Order] PRIMARY KEY CLUSTERED 
(
	[OrderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Product]    Script Date: 21/06/2020 21:40:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[ProductID] [int] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](100) NULL,
	[Title] [nvarchar](100) NULL,
	[Description] [nvarchar](800) NULL,
	[Avatar] [nvarchar](255) NULL,
	[Thumb] [nvarchar](255) NULL,
	[ListImage] [nvarchar](1000) NULL,
	[Content] [ntext] NULL,
	[Keyword] [nvarchar](255) NULL,
	[Price] [nvarchar](100) NULL,
	[PriceSale] [nvarchar](100) NULL,
	[MadeIn] [nvarchar](500) NULL,
	[ListBranch] [nvarchar](100) NULL,
	[Status] [bit] NULL,
	[Position] [int] NULL,
	[ViewTime] [int] NULL,
	[CreateTime] [datetime] NULL,
	[ModifyTime] [datetime] NULL,
	[CreateBy] [nvarchar](50) NULL,
	[ModifyBy] [nvarchar](50) NULL,
	[CategoryID] [int] NULL,
	[SeoUrl] [nvarchar](250) NULL,
	[MetaTitle] [nvarchar](250) NULL,
	[MetaDescription] [nvarchar](550) NULL,
	[Tags] [nvarchar](4000) NULL,
	[ProductSize] [nvarchar](max) NULL,
	[ProductColor] [nvarchar](max) NULL,
 CONSTRAINT [PK__Product__B40CC6ED1273C1CD] PRIMARY KEY CLUSTERED 
(
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ProductCategory]    Script Date: 21/06/2020 21:40:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductCategory](
	[ProductCategoryID] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](150) NULL,
	[Status] [bit] NULL,
	[CreateTime] [datetime] NULL,
	[ModifyTime] [datetime] NULL,
	[CreateBy] [nvarchar](50) NULL,
	[ModifyBy] [nvarchar](50) NULL,
	[SeoUrl] [nvarchar](250) NULL,
 CONSTRAINT [PK_ProductCategory] PRIMARY KEY CLUSTERED 
(
	[ProductCategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ProductColor]    Script Date: 21/06/2020 21:40:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductColor](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
 CONSTRAINT [PK_ProductColor] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ProductSize]    Script Date: 21/06/2020 21:40:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductSize](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
 CONSTRAINT [PK_ProductSize] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Reason]    Script Date: 21/06/2020 21:40:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reason](
	[ReasonID] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](250) NULL,
	[Content] [ntext] NULL,
	[ProductID] [int] NULL,
 CONSTRAINT [PK_Reason] PRIMARY KEY CLUSTERED 
(
	[ReasonID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SeoMeta]    Script Date: 21/06/2020 21:40:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SeoMeta](
	[ID] [int] NOT NULL,
	[Title] [nvarchar](200) NULL,
	[Description] [nvarchar](200) NULL,
	[KeyWord] [nvarchar](2000) NULL,
	[Avatar] [nvarchar](250) NULL,
 CONSTRAINT [PK_SeoMeta] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Slider]    Script Date: 21/06/2020 21:40:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Slider](
	[SliderID] [int] IDENTITY(1,1) NOT NULL,
	[Avatar] [nvarchar](250) NULL,
	[Status] [bit] NULL,
	[Description] [nvarchar](250) NULL,
 CONSTRAINT [PK_Slider] PRIMARY KEY CLUSTERED 
(
	[SliderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
INSERT [dbo].[Account] ([Username], [Password], [FullName], [Position], [Status]) VALUES (N'admin', N'13F8798FDD79E20F2BC35C4119BA6D18', N'Dev', N'Dev', 1)
INSERT [dbo].[Account] ([Username], [Password], [FullName], [Position], [Status]) VALUES (N'chinhanh', N'E8F83760B6519E0B32011A12EF508BAD', NULL, NULL, 1)
SET IDENTITY_INSERT [dbo].[Article] ON 

SET IDENTITY_INSERT [dbo].[Article] OFF
SET IDENTITY_INSERT [dbo].[Branch] ON 

INSERT [dbo].[Branch] ([BranchID], [Title], [Address], [Mobi], [Map], [Status]) VALUES (2, N'CN TpHCM', N'102 Lê Hoàng Phái, P. 17, Q. Gò Vấp, Tp. Hồ Chí Minh', N'0902.436.989', N'https://www.google.com/maps/embed/v1/place?q=102%20L%C3%AA%20Ho%C3%A0ng%20Ph%C3%A1i%2C%20Ph%C6%B0%E1%BB%9Dng%2017%2C%20Q.%20G%C3%B2%20V%E1%BA%A5p%2C%20Tp.%20H%E1%BB%93%20Ch%C3%AD%20Minh.&key=AIzaSyBdW23UmVAVlau7Ezujmt5gCJedXrbohkQ', 1)
INSERT [dbo].[Branch] ([BranchID], [Title], [Address], [Mobi], [Map], [Status]) VALUES (3, N'CN Cần Thơ', N'170/27 Hoàng Quốc Việt, P. An Bình, Q. Ninh Kiều', N' 0907.600.679', N'https://www.google.com/maps/embed/v1/place?q=170%2F27%20Ho%C3%A0ng%20Qu%E1%BB%91c%20Vi%E1%BB%87t%2C%20P.%20An%20B%C3%ACnh%2C%20Q.%20Ninh%20Ki%E1%BB%81u%2C%20C%E1%BA%A7n%20Th%C6%A1.&key=AIzaSyBdW23UmVAVlau7Ezujmt5gCJedXrbohkQ', 1)
INSERT [dbo].[Branch] ([BranchID], [Title], [Address], [Mobi], [Map], [Status]) VALUES (4, N'CN Vũng Tàu', N'Thị trấn Long Hải, Long Hải, Bà Rịa - Vũng Tàu', N'0936.789.507', N'https://www.google.com/maps/embed/v1/place?q=place_id:ChIJoUZzbs1vdTERqKttYc63ONc&key=AIzaSyBdW23UmVAVlau7Ezujmt5gCJedXrbohkQ', 1)
SET IDENTITY_INSERT [dbo].[Branch] OFF
SET IDENTITY_INSERT [dbo].[Introduce] ON 

SET IDENTITY_INSERT [dbo].[Introduce] OFF
SET IDENTITY_INSERT [dbo].[Order] ON 

INSERT [dbo].[Order] ([OrderID], [FullName], [Address], [Mobi], [Email], [Status], [Content], [ProductName], [SendTime]) VALUES (32, N'Nguyễn Thu Hà', N'Napoho', N'0909999888', NULL, 0, N'Check chuyển email đặt hàng', N'Mật Ong Khoái Tây Bắc', CAST(0x0000A6A300ED425F AS DateTime))
INSERT [dbo].[Order] ([OrderID], [FullName], [Address], [Mobi], [Email], [Status], [Content], [ProductName], [SendTime]) VALUES (33, N'vo van nam', N'198/3 duong so 3 p9 go vap', N'09065877290906587729', NULL, 0, N'Mua 1kg cau ky tu', N'Câu Kỷ Tử', CAST(0x0000A6A30108CEB1 AS DateTime))
INSERT [dbo].[Order] ([OrderID], [FullName], [Address], [Mobi], [Email], [Status], [Content], [ProductName], [SendTime]) VALUES (34, N'vo van nam', N'198/3 duong so 3 p9 go vap', N'09065877290906587729', NULL, 1, N'Mua 1kg cau ky tu', N'Câu Kỷ Tử', CAST(0x0000A6A30108D4D6 AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[Order] OFF
SET IDENTITY_INSERT [dbo].[Product] ON 

SET IDENTITY_INSERT [dbo].[Product] OFF
SET IDENTITY_INSERT [dbo].[ProductCategory] ON 

INSERT [dbo].[ProductCategory] ([ProductCategoryID], [Title], [Status], [CreateTime], [ModifyTime], [CreateBy], [ModifyBy], [SeoUrl]) VALUES (1, N'sale', 1, CAST(0x0000A69E00A332B4 AS DateTime), CAST(0x0000ABD7015E80F0 AS DateTime), N'admin', N'admin', N'sale.html')
INSERT [dbo].[ProductCategory] ([ProductCategoryID], [Title], [Status], [CreateTime], [ModifyTime], [CreateBy], [ModifyBy], [SeoUrl]) VALUES (3, N'new in', 1, CAST(0x0000A69E00A348AF AS DateTime), CAST(0x0000ABD7015ECE46 AS DateTime), N'admin', N'admin', N'new-in.html')
INSERT [dbo].[ProductCategory] ([ProductCategoryID], [Title], [Status], [CreateTime], [ModifyTime], [CreateBy], [ModifyBy], [SeoUrl]) VALUES (9, N'collections', 1, CAST(0x0000ABD7015EEA6A AS DateTime), CAST(0x0000ABD7015EEA6A AS DateTime), N'admin', N'admin', N'collections.html')
SET IDENTITY_INSERT [dbo].[ProductCategory] OFF
SET IDENTITY_INSERT [dbo].[ProductColor] ON 

INSERT [dbo].[ProductColor] ([Id], [Name]) VALUES (1, N'Red')
INSERT [dbo].[ProductColor] ([Id], [Name]) VALUES (2, N'Blue')
INSERT [dbo].[ProductColor] ([Id], [Name]) VALUES (3, N'White')
SET IDENTITY_INSERT [dbo].[ProductColor] OFF
SET IDENTITY_INSERT [dbo].[ProductSize] ON 

INSERT [dbo].[ProductSize] ([Id], [Name]) VALUES (1, N'6')
INSERT [dbo].[ProductSize] ([Id], [Name]) VALUES (2, N'8')
INSERT [dbo].[ProductSize] ([Id], [Name]) VALUES (3, N'10')
SET IDENTITY_INSERT [dbo].[ProductSize] OFF
SET IDENTITY_INSERT [dbo].[Reason] ON 

INSERT [dbo].[Reason] ([ReasonID], [Title], [Content], [ProductID]) VALUES (1, N'5 LÝ DO ĐỂ BẠN MUA HÀNG TẠI THẢO DƯỢC TOÀN THẮNG', N'Cam kết bán giá rẻ nhất cho người tiêu dùng|Sản phẩm chính hãng, mới nhất, có tem chống hàng giả(nhà thuốc có thể chứng minh)|Tư vấn cách sử dụng Hiệu quả – Chuyên nghiệp – Tận tâm|Thanh toán thu tiền tận nơi trên toàn quốc – COD|Được đổi trả hàng hoá nếu hàng không chính hãng|', 35)
INSERT [dbo].[Reason] ([ReasonID], [Title], [Content], [ProductID]) VALUES (2, N'5 LÝ DO ĐỂ BẠN MUA HÀNG TẠI THẢO DƯỢC TOÀN THẮNG', N'Cam kết bán giá rẻ nhất cho người tiêu dùng|Sản phẩm chính hãng, mới nhất, có tem chống hàng giả(nhà thuốc có thể chứng minh)|Tư vấn cách sử dụng Hiệu quả – Chuyên nghiệp – Tận tâm|Thanh toán thu tiền tận nơi trên toàn quốc – COD|Được đổi trả hàng hoá nếu hàng không chính hãng|', NULL)
INSERT [dbo].[Reason] ([ReasonID], [Title], [Content], [ProductID]) VALUES (3, N'5 LÝ DO ĐỂ BẠN MUA HÀNG TẠI THẢO DƯỢC TOÀN THẮNG', N'Cam kết bán giá rẻ nhất cho người tiêu dùng|Sản phẩm chính hãng, mới nhất, không pha trộn.|Tư vấn cách sử dụng Hiệu quả – Chuyên nghiệp – Tận tâm|Thanh toán thu tiền tận nơi trên toàn quốc – COD|Được đổi trả hàng hoá nếu hàng hoá không đúng như quảng cáo||', 34)
SET IDENTITY_INSERT [dbo].[Reason] OFF
INSERT [dbo].[SeoMeta] ([ID], [Title], [Description], [KeyWord], [Avatar]) VALUES (1, N'Trà Thảo Dược Toàn Thắng | Đồng Hành Cùng Sức Khỏe Gia Đình Bạn', N'Trà Thảo Dược Toàn Thắng | Đồng Hành Cùng Sức Khỏe Gia Đình Bạn', N'trang chủ', NULL)
INSERT [dbo].[SeoMeta] ([ID], [Title], [Description], [KeyWord], [Avatar]) VALUES (2, N'Tin tức | Thảo Dược Toàn Thắng', N'Mô tả cho trang tin tức', N'tin tức', NULL)
INSERT [dbo].[SeoMeta] ([ID], [Title], [Description], [KeyWord], [Avatar]) VALUES (3, N'Sản phẩm | Thảo Dược Toàn Thắng', N'Mô tả cho trang danh sách sản phẩm', N'sản phẩm', NULL)
SET IDENTITY_INSERT [dbo].[Slider] ON 

INSERT [dbo].[Slider] ([SliderID], [Avatar], [Status], [Description]) VALUES (6, N'/Areas/Admin/Content/Fileuploads/files/slide1_imagef680.jpg', 1, NULL)
INSERT [dbo].[Slider] ([SliderID], [Avatar], [Status], [Description]) VALUES (8, N'/Areas/Admin/Content/Fileuploads/files/slide2_image37ec.jpg', 1, NULL)
INSERT [dbo].[Slider] ([SliderID], [Avatar], [Status], [Description]) VALUES (9, N'/Areas/Admin/Content/Fileuploads/files/slide3_image968b.jpg', 1, NULL)
SET IDENTITY_INSERT [dbo].[Slider] OFF
USE [master]
GO
