USE [master]
GO
/****** Object:  Database [DBMissingPiece]    Script Date: 6/28/2020 7:43:46 PM ******/
CREATE DATABASE [DBMissingPiece]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DBMissingPiece', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\DBMissingPiece.mdf' , SIZE = 4160KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'DBMissingPiece_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\DBMissingPiece_log.ldf' , SIZE = 832KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DBMissingPiece].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DBMissingPiece]
GO
/****** Object:  Table [dbo].[Account]    Script Date: 6/28/2020 7:43:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Account](
	[Username] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](100) NULL,
	[FullName] [nvarchar](100) NULL,
	[Position] [nvarchar](150) NULL,
	[Status] [bit] NULL,
 CONSTRAINT [PK__Account__536C85E57F60ED59] PRIMARY KEY CLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Article]    Script Date: 6/28/2020 7:43:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Article](
	[ArticleID] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](100) NULL,
	[Description] [nvarchar](300) NULL,
	[Avatar] [nvarchar](255) NULL,
	[Thumb] [nvarchar](255) NULL,
	[Content] [ntext] NULL,
	[Keyword] [nvarchar](255) NULL,
	[Status] [int] NULL,
	[Position] [int] NULL,
	[ViewTime] [int] NULL,
	[CreateTime] [datetime] NULL,
	[ModifyTime] [datetime] NULL,
	[CreateBy] [nvarchar](50) NULL,
	[ModifyBy] [nvarchar](50) NULL,
	[SeoUrl] [nvarchar](250) NULL,
	[MetaTitle] [nvarchar](250) NULL,
	[MetaDescription] [nvarchar](550) NULL,
	[DescriptionLong] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[ArticleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Branch]    Script Date: 6/28/2020 7:43:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Branch](
	[BranchID] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](250) NULL,
	[Address] [nvarchar](250) NULL,
	[Mobi] [nvarchar](250) NULL,
	[Map] [nvarchar](2500) NULL,
	[Status] [bit] NULL,
 CONSTRAINT [PK_Branch] PRIMARY KEY CLUSTERED 
(
	[BranchID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Collection]    Script Date: 6/28/2020 7:43:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Collection](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](500) NULL,
	[Avatar] [nvarchar](500) NULL,
	[Deripstion] [nvarchar](max) NULL,
	[CreateDate] [datetime] NULL,
	[SeoUrl] [nvarchar](500) NULL,
 CONSTRAINT [PK_Collection] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Contact]    Script Date: 6/28/2020 7:43:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Contact](
	[ContactID] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](50) NULL,
	[Email] [nvarchar](255) NULL,
	[Content] [nvarchar](2000) NULL,
	[Status] [int] NULL,
	[SendTime] [datetime] NULL,
	[ApproveTime] [datetime] NULL,
	[ApproveBy] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ContactID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Introduce]    Script Date: 6/28/2020 7:43:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Introduce](
	[IntroduceID] [int] IDENTITY(1,1) NOT NULL,
	[Avatar] [nvarchar](255) NULL,
	[Thumb] [nvarchar](255) NULL,
	[Title] [nvarchar](100) NULL,
	[Description] [nvarchar](300) NULL,
	[Content] [ntext] NULL,
	[Status] [int] NULL,
	[Position] [int] NULL,
	[CreateTime] [datetime] NULL,
	[ModifyTime] [datetime] NULL,
	[CreateBy] [nvarchar](50) NULL,
	[ModifyBy] [nvarchar](50) NULL,
	[ContentSort] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[IntroduceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Order]    Script Date: 6/28/2020 7:43:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order](
	[OrderID] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](250) NULL,
	[Address] [nvarchar](250) NULL,
	[Mobi] [nvarchar](250) NULL,
	[Email] [nvarchar](250) NULL,
	[Status] [bit] NULL,
	[Content] [nvarchar](2500) NULL,
	[ProductName] [nvarchar](250) NULL,
	[SendTime] [datetime] NULL,
 CONSTRAINT [PK_Order] PRIMARY KEY CLUSTERED 
(
	[OrderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Product]    Script Date: 6/28/2020 7:43:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[ProductID] [int] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](100) NULL,
	[Title] [nvarchar](100) NULL,
	[Description] [nvarchar](800) NULL,
	[Avatar] [nvarchar](255) NULL,
	[Thumb] [nvarchar](255) NULL,
	[ListImage] [nvarchar](1000) NULL,
	[Content] [ntext] NULL,
	[Keyword] [nvarchar](255) NULL,
	[Price] [nvarchar](100) NULL,
	[PriceSale] [nvarchar](100) NULL,
	[MadeIn] [nvarchar](500) NULL,
	[ListBranch] [nvarchar](100) NULL,
	[Status] [bit] NULL,
	[Position] [int] NULL,
	[ViewTime] [int] NULL,
	[CreateTime] [datetime] NULL,
	[ModifyTime] [datetime] NULL,
	[CreateBy] [nvarchar](50) NULL,
	[ModifyBy] [nvarchar](50) NULL,
	[CategoryID] [int] NULL,
	[SeoUrl] [nvarchar](250) NULL,
	[MetaTitle] [nvarchar](250) NULL,
	[MetaDescription] [nvarchar](550) NULL,
	[Tags] [nvarchar](4000) NULL,
	[ProductSize] [nvarchar](max) NULL,
	[ProductColor] [nvarchar](max) NULL,
	[CollectionId] [int] NULL,
 CONSTRAINT [PK__Product__B40CC6ED1273C1CD] PRIMARY KEY CLUSTERED 
(
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ProductCategory]    Script Date: 6/28/2020 7:43:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductCategory](
	[ProductCategoryID] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](150) NULL,
	[Status] [bit] NULL,
	[CreateTime] [datetime] NULL,
	[ModifyTime] [datetime] NULL,
	[CreateBy] [nvarchar](50) NULL,
	[ModifyBy] [nvarchar](50) NULL,
	[SeoUrl] [nvarchar](250) NULL,
 CONSTRAINT [PK_ProductCategory] PRIMARY KEY CLUSTERED 
(
	[ProductCategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ProductColor]    Script Date: 6/28/2020 7:43:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductColor](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
 CONSTRAINT [PK_ProductColor] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ProductOrder]    Script Date: 6/28/2020 7:43:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductOrder](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[OrderID] [int] NULL,
	[ProductId] [int] NULL,
	[SizeId] [int] NULL,
	[ColorId] [int] NULL,
	[Quantity] [int] NULL,
 CONSTRAINT [PK_ProductOrder] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ProductSize]    Script Date: 6/28/2020 7:43:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductSize](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
 CONSTRAINT [PK_ProductSize] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Reason]    Script Date: 6/28/2020 7:43:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reason](
	[ReasonID] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](250) NULL,
	[Content] [ntext] NULL,
	[ProductID] [int] NULL,
 CONSTRAINT [PK_Reason] PRIMARY KEY CLUSTERED 
(
	[ReasonID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SeoMeta]    Script Date: 6/28/2020 7:43:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SeoMeta](
	[ID] [int] NOT NULL,
	[Title] [nvarchar](200) NULL,
	[Description] [nvarchar](200) NULL,
	[KeyWord] [nvarchar](2000) NULL,
	[Avatar] [nvarchar](250) NULL,
 CONSTRAINT [PK_SeoMeta] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Slider]    Script Date: 6/28/2020 7:43:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Slider](
	[SliderID] [int] IDENTITY(1,1) NOT NULL,
	[Avatar] [nvarchar](250) NULL,
	[Status] [bit] NULL,
	[Description] [nvarchar](250) NULL,
 CONSTRAINT [PK_Slider] PRIMARY KEY CLUSTERED 
(
	[SliderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
INSERT [dbo].[Account] ([Username], [Password], [FullName], [Position], [Status]) VALUES (N'admin', N'13F8798FDD79E20F2BC35C4119BA6D18', N'Dev', N'Dev', 1)
INSERT [dbo].[Account] ([Username], [Password], [FullName], [Position], [Status]) VALUES (N'chinhanh', N'E8F83760B6519E0B32011A12EF508BAD', NULL, NULL, 1)
SET IDENTITY_INSERT [dbo].[Article] ON 

SET IDENTITY_INSERT [dbo].[Article] OFF
SET IDENTITY_INSERT [dbo].[Branch] ON 

INSERT [dbo].[Branch] ([BranchID], [Title], [Address], [Mobi], [Map], [Status]) VALUES (4, N'Mk Fashion', N'219 Đề Thám, P.Phạm Ngũ Lão, Q.1', N'0983753924', N'https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.566649839754!2d106.69143031514221!3d10.767842892327398!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752f3dff331a2b%3A0x892766a79a6bb635!2zMjE5IMSQ4buBIFRow6FtLCBQaMaw4budbmcgUGjhuqFtIE5nxakgTMOjbywgUXXhuq1uIDEsIEjhu5MgQ2jDrSBNaW5oLCBWaeG7h3QgTmFt!5e0!3m2!1svi!2s!4v1593249985052!5m2!1svi!2s', 1)
SET IDENTITY_INSERT [dbo].[Branch] OFF
SET IDENTITY_INSERT [dbo].[Collection] ON 

SET IDENTITY_INSERT [dbo].[Collection] OFF
SET IDENTITY_INSERT [dbo].[Introduce] ON 

SET IDENTITY_INSERT [dbo].[Introduce] OFF
SET IDENTITY_INSERT [dbo].[Product] ON 

SET IDENTITY_INSERT [dbo].[Product] OFF
SET IDENTITY_INSERT [dbo].[ProductCategory] ON 

INSERT [dbo].[ProductCategory] ([ProductCategoryID], [Title], [Status], [CreateTime], [ModifyTime], [CreateBy], [ModifyBy], [SeoUrl]) VALUES (1, N'sale', 1, CAST(0x0000A69E00A332B4 AS DateTime), CAST(0x0000ABD7015E80F0 AS DateTime), N'admin', N'admin', N'sale.html')
INSERT [dbo].[ProductCategory] ([ProductCategoryID], [Title], [Status], [CreateTime], [ModifyTime], [CreateBy], [ModifyBy], [SeoUrl]) VALUES (3, N'new in', 1, CAST(0x0000A69E00A348AF AS DateTime), CAST(0x0000ABD7015ECE46 AS DateTime), N'admin', N'admin', N'new-in.html')
INSERT [dbo].[ProductCategory] ([ProductCategoryID], [Title], [Status], [CreateTime], [ModifyTime], [CreateBy], [ModifyBy], [SeoUrl]) VALUES (10, N'ladies', 1, CAST(0x0000ABD7015EF95A AS DateTime), CAST(0x0000ABD7015EF95A AS DateTime), N'admin', N'admin', N'ladies.html')
SET IDENTITY_INSERT [dbo].[ProductCategory] OFF
SET IDENTITY_INSERT [dbo].[ProductColor] ON 

INSERT [dbo].[ProductColor] ([Id], [Name]) VALUES (1, N'Red')
INSERT [dbo].[ProductColor] ([Id], [Name]) VALUES (2, N'Blue')
INSERT [dbo].[ProductColor] ([Id], [Name]) VALUES (3, N'White')
SET IDENTITY_INSERT [dbo].[ProductColor] OFF
SET IDENTITY_INSERT [dbo].[ProductSize] ON 

INSERT [dbo].[ProductSize] ([Id], [Name]) VALUES (1, N'6')
INSERT [dbo].[ProductSize] ([Id], [Name]) VALUES (2, N'8')
INSERT [dbo].[ProductSize] ([Id], [Name]) VALUES (3, N'10')
SET IDENTITY_INSERT [dbo].[ProductSize] OFF
SET IDENTITY_INSERT [dbo].[Reason] ON 

INSERT [dbo].[Reason] ([ReasonID], [Title], [Content], [ProductID]) VALUES (1, N'mk fashion', N'mk fashion', 35)
INSERT [dbo].[Reason] ([ReasonID], [Title], [Content], [ProductID]) VALUES (2, N'mk fashion', N'mk fashion', NULL)
INSERT [dbo].[Reason] ([ReasonID], [Title], [Content], [ProductID]) VALUES (3, N'mk fashion', N'mk fashion', 34)
SET IDENTITY_INSERT [dbo].[Reason] OFF
INSERT [dbo].[SeoMeta] ([ID], [Title], [Description], [KeyWord], [Avatar]) VALUES (1, N'mk fashion', N'mk fashion', N'trang chủ', NULL)
INSERT [dbo].[SeoMeta] ([ID], [Title], [Description], [KeyWord], [Avatar]) VALUES (2, N'mk fashion', N'mk fashion', N'tin tức', NULL)
INSERT [dbo].[SeoMeta] ([ID], [Title], [Description], [KeyWord], [Avatar]) VALUES (3, N'mk fashion', N'mk fashion', N'sản phẩm', NULL)
SET IDENTITY_INSERT [dbo].[Slider] ON 

INSERT [dbo].[Slider] ([SliderID], [Avatar], [Status], [Description]) VALUES (6, N'/Areas/Admin/Content/Fileuploads/files/slide1_imagef680.jpg', 1, NULL)
INSERT [dbo].[Slider] ([SliderID], [Avatar], [Status], [Description]) VALUES (8, N'/Areas/Admin/Content/Fileuploads/files/slide2_image37ec.jpg', 1, NULL)
INSERT [dbo].[Slider] ([SliderID], [Avatar], [Status], [Description]) VALUES (9, N'/Areas/Admin/Content/Fileuploads/files/slide3_image968b.jpg', 1, NULL)
SET IDENTITY_INSERT [dbo].[Slider] OFF
USE [master]
GO
