@model List<ToanThangSite.Entities.Core.ProductCategory>
<div class="section_1">

    <div class="main-slider">

        <div class="container">
            <div class="fullwidthbanner-container">
                <div id="rev_slider" class="rev_slider fullwidthabanner">
                    <ul>
                        <li data-transition="slidehorizontal" data-slotamount="7" data-masterspeed="500" data-thumb="//cdn.shopify.com/s/files/1/1187/0028/t/9/assets/slide1_image.jpg?v=1716842047578094943" data-saveperformance="off" data-title="01">
                            <img src="~/Content/cdn.shopify.com/s/files/1/1187/0028/t/9/assets/slide1_imagef680.jpg?v=1716842047578094943" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" alt="" />
                            <a href="collections/moments.html" class="tp-caption sfl rv-button" style="" data-x="80" data-y="350" data-endspeed="500" data-speed="500" data-start="1700" data-easing="Linear.easeNone" data-elementdelay="0.1" data-endelementdelay="0.1">
                                <img src="~/Content/cdn.shopify.com/s/files/1/1187/0028/t/9/assets/slide_1_button_imaged066.png?v=16418392171259041183" alt="" />
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
