<footer>
    <div class="site-footer">
        <div class="container">
            <div class="inner">
                <div class="row">
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="media" style="margin-top: 20px">
                            <center>
                                <img src="~/Content/img/logongocvo-removebg-preview.png" alt="Mk fashion" />
                            </center>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <center>
                            <h3><span>Quick Links</span></h3>
                            <ul class="list-menu">
                                <li><a href="/">Search</a></li>
                                <li><a href="/">Orders & Returns</a></li>
                                <li><a href="/">Size Charts</a></li>
                                <li><a href="/">Shipping</a></li>
                                <li><a href="/">Terms and Conditions</a></li>

                            </ul>
                        </center>
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <center>
                            <h3><span>Get in touch</span></h3>
                            <div class="shop-info">
                                <ul>
                                    <li>
                                        <a href="#" title=""><i class="fa fa-envelope"></i></a><a href="mailto:mkshion7596@gmail.com">mkshion7596@gmail.com</a>
                                    </li>
                                    <li>
                                        <a href="#" title=""><i class="fa fa-facebook"></i></a><a href="https://www.facebook.com/MK-Fashion-Shop-928503333873922/">Mkfashion</a>
                                    </li>
                                    <li>
                                        <a href="#" title=""><i class="fa fa-instagram"></i></a><a href="https://www.facebook.com/MK-Fashion-Shop-928503333873922/">MK-Fashion-Shop</a>
                                    </li>
                                </ul>
                            </div>
                        </center>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright clearfix">
        <div class="container">
            <div class="inner clearfix">
                <div class="back-to-top"><i class="fa fa-chevron-up"></i><span>top</span></div>
            </div>
        </div>
    </div>
</footer>