@model IEnumerable<ToanThangSite.Entities.Core.Slider>
@using ToanThangSite.Business.Common
@using ToanThangSite.Entities.Core
@{
    var listcategory = (List<ProductCategory>)ViewBag.ProductCategory;
    var rd = new Random();
}
<div class="section_1">
    <div class="main-slider">

        <div class="container">

            <div class="fullwidthbanner-container">
                <div id="rev_slider" class="rev_slider fullwidthabanner">
                    <ul>
                        @foreach (var item in Model)
                        {
                            var intrd = rd.Next(listcategory.Count);
                            var url = "/" + listcategory[intrd].Title.ToUrlFormat(true) + ".html";
                            <li data-transition="slidehorizontal" data-slotamount="7" data-masterspeed="500" data-thumb="//cdn.shopify.com/s/files/1/1187/0028/t/9/assets/slide1_image.jpg?v=1716842047578094943" data-saveperformance="off" data-title="01">
                                <img src="@item.Avatar" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" alt="slider" />
                                <a href="@url" class="tp-caption sfl rv-button" style="" data-x="80" data-y="350" data-endspeed="500" data-speed="500" data-start="1700" data-easing="Linear.easeNone" data-elementdelay="0.1" data-endelementdelay="0.1">
                                    <img src="~/Content/img/slide_1_button_imaged066.png?v=16418392171259041183" alt="" />
                                </a>
                            </li>
                        }

                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
