@model ToanThangSite.Entities.Models.LoginViewModel
@{
    Layout = null;
}


<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login ToanThang admin - tool v1.0</title>
    <link rel="stylesheet" href="~/Areas/Admin/Content/css/style.default.css" type="text/css" />
    <script type="text/javascript" src="~/Areas/Admin/Scripts/js/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="~/Areas/Admin/Scripts/js/jquery-migrate-1.1.1.min.js"></script>
</head>
<body class="loginbody">
    <div class="loginwrapper">
        <div class="loginwrap zindex100 animate2 bounceInDown">
            <h1 class="logintitle"><span class="iconfa-lock"></span> Sign In <span class="subtitle">Xin chào! Đăng nhập để bắt đầu sử dụng!</span></h1>
            <div class="loginwrapperinner">
                @using (Html.BeginForm("Login", "Account", new { ReturnUrl = Request.QueryString["ReturnUrl"] }, FormMethod.Post, new { @id = "loginform" }))
                {
                    @Html.AntiForgeryToken();
                    <p class="animate4 bounceIn">
                        @Html.TextBoxFor(model => model.Username, new { @id = "username", @placeholder = "Username" })
                    </p>
                        <p class="animate5 bounceIn">
                            @Html.TextBoxFor(model => model.Password, new { @id = "password", @placeholder = "Password",@type="password" })
                        </p>
                        <p class="animate6 bounceIn"><button class="btn btn-default btn-block" type="submit">Đăng nhập</button></p>
                }
            </div><!--loginwrapperinner-->
        </div>
        <div class="loginshadow animate3 fadeInUp"></div>
    </div><!--loginwrapper-->
    <script type="text/javascript">
        jQuery.noConflict();

        jQuery(document).ready(function () {

            var anievent = (jQuery.browser.webkit) ? 'webkitAnimationEnd' : 'animationend';
            jQuery('.loginwrap').bind(anievent, function () {
                jQuery(this).removeClass('animate2 bounceInDown');
            });

            jQuery('#username,#password').focus(function () {
                if (jQuery(this).hasClass('error')) jQuery(this).removeClass('error');
            });

            jQuery('#loginform button').click(function () {
                if (!jQuery.browser.msie) {
                    if (jQuery('#username').val() == '' || jQuery('#password').val() == '') {
                        if (jQuery('#username').val() == '') jQuery('#username').addClass('error'); else jQuery('#username').removeClass('error');
                        if (jQuery('#password').val() == '') jQuery('#password').addClass('error'); else jQuery('#password').removeClass('error');
                        jQuery('.loginwrap').addClass('animate0 wobble').bind(anievent, function () {
                            jQuery(this).removeClass('animate0 wobble');
                        });
                    } else {
                        jQuery('.loginwrapper').addClass('animate0 fadeOutUp').bind(anievent, function () {
                            jQuery('#loginform').submit();
                        });
                    }
                    return false;
                }
            });
        });
    </script>
</body>
</html>
